<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  {% comment %} <title> {{ title }} </title> {% endcomment %}
  <title> Título </title>
</head>
<body>

  <h1> Heading </h1>

    {% block %}
    {% endblock %}

<footer>
    {% block footer %}{% endblock %}
</footer>

</body>

</html>